.FullClass{
  margin:0px;
}
.Center{
  padding:0px;
  border: 2px solid lightgray;
  border-bottom: 0px;
  display: inline-block;
}
.Active{
  background-color: grey;
}
.Header{
  border: 1px solid lightgray;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}
.Nodata{
  width: 50px;
  height: auto;
  display: inline-block;
  padding:189px 0px 0px;
}
#artiststhumbnail{
  width: auto;
  height: 550px;
  text-align: center
}
.TextAlign{
  float: right;
  padding-right: 5px;
}
.Ifclass{
  border: 2px solid black;
  background-color: hotpink;
}
.BtnWidht{
 width: 120px; 
 height:auto;
 background-color: white;
 color: blue;
}
.ButtonDiv{
text-align: center;
padding: 10px;
}

.ButtonClass{
  min-height: 500px;
  padding:3px 0px;
}
.Input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 
.Icon { 
  padding: 10px 2px 0px; 
} 
.Input-field { 
  padding: 5px ;
  border: none;
  outline-style: none;
  width: 100%;
} 
.cls-edit{
  border: 1px solid gray;
  border-left: 0px;
  border-right: 0px;
  margin: auto;
}
.Hide{
  display:none;
}
.Show{
  display: block;
}
a:hover { 
  text-decoration: none; 
}
.borderMainbox{
  border:1px solid blue ;
}
.borderbox{
  border-bottom:1px solid red ;
}
.fontMaintain{
  font-size: 18px;
  font-weight: bold;
}
.mobilesmcenter{
  padding:0px;
}
.paddinClass{
  padding-right: 1px;
}
.bgcolor{
  background-color: lightgray;
}
.Newcondition{
  padding-left:14px;
  font-size: bold;
}
.paddingLeft{
  padding:16px 0px 3px 10px;
  font-size: 18px;
  font-weight: bold;
  display: block;
}
.transform{
  padding:0px 0px 3px 10px;
  display: block;
}
@media only screen and (max-width: 720px) {
 .Center{
   margin:0px 2px;
 }
  .Header{
   width: 50% ;
   
 }
 .paddinClass{
   width: 24%;
   padding-right: 1px;
 }
 .mobilesmcenter{
   width:55%;
 }
 .mobilesmtwo{
   width: 20%;
 }
}